namespace: navigatum
tag: main
url: nav.tum.de
server:
  CONNECTUM_OAUTH_CLIENT_SECRET: ""
  CONNECTUM_OAUTH_CLIENT_ID: ""
  MEILI_MASTER_KEY: ""
  GITHUB_TOKEN: ""
  JWT_KEY: ""
mielisearch:
  image:
    repository: 'getmeili/meilisearch'
    tag: v1.7.6
calendar:
  scrape_tasks:
    - name: refresh-calendar-slow # takes ~6m to complete
      schedule: "5 * * * *" # at :05 every hour
      scraped_time_window_months: 120 # 120 months = 10 years
