openapi: 3.1.0
info:
  title: NavigaTUM
  description: |-
    Navigating around TUM with excellence - An API to search for rooms,
    buildings and other places

    NavigaTUM is a tool developed by students for students, to help you get around at [TUM](https://tum.de). Feel free to contribute.

    - [x] Interactive/static maps to look up the position of rooms or buildings
    - [x] Fast and typo-tolerant search
    - [x] Support for different room code formats as well as generic names
    - [x] All functionality is also available via an open and well documented API
    - [x] Automatically update the data from upstream datasources
    - [x] Allow students/staff to easily submit feedback and data patches
    - [x] Generate turn by turn navigation advice for navigating end to end
    - [ ] Generate maps from CAD data sources

    If you'd like to help out or join us in this adventure, we would love to talk to you.
  termsOfService: https://nav.tum.de/en/about/privacy
  contact:
    name: OpenSource @ TUM e.V.
    url: https://tum.dev/
    email: navigatum@tum.de
  license:
    name: GPL v3
    url: https://www.gnu.org/licenses/
  version: 0.0.0
  x-logo:
    altText: null
    backgroundColor: null
    href: https://nav.tum.de
    url: https://raw.githubusercontent.com/TUM-Dev/NavigaTUM/refs/heads/main/webclient/app/assets/logos/navigatum.svg
servers:
  - url: https://nav.tum.de
    description: production
paths:
  /api/calendar:
    post:
      tags:
        - calendar
      summary: Retrieve Calendar Entries
      description: |-
        Retrieves calendar entries for specific `ids` within the requested time span.
        The time span is defined by the `start_after` and `end_before` query parameters.
        Ensure to provide valid date-time formats for these parameters.

        If successful, returns additional entries in the requested time span.
      operationId: calendar_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Arguments'
        required: true
      responses:
        "200":
          description: '**Entries of the calendar** in the requested time span'
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/LocationEventsResponse'
                propertyNames:
                  type: string
        "400":
          description: '**Bad Request.** Not all fields in the body are present as defined above'
          content:
            text/plain:
              schema:
                type: string
              example: Too many ids to query. We suspect that users don't need this. If you need this limit increased, please send us a message
        "404":
          description: '**Not found.** The requested location does not have a calendar'
          content:
            text/plain:
              schema:
                type: string
              example: Not found
        "503":
          description: '**Not Ready.** please retry later'
          content:
            text/plain:
              schema:
                type: string
              example: Waiting for first sync with TUMonline
  /api/feedback/feedback:
    post:
      tags:
        - feedback
      summary: Post feedback
      description: |-
        ***Do not abuse this endpoint.***

        This posts the actual feedback to GitHub and returns the GitHub link.
        This API will create issues instead of pull-requests
        => all feedback is allowed, but [`/api/feedback/propose_edits`](#tag/feedback/operation/propose_edits) is preferred, if it can be posted there.

        For this Endpoint to work, you need to generate a token via the [`/api/feedback/get_token`](#tag/feedback/operation/get_token) endpoint.

        # Note

        Tokens are only used if we return a 201 Created response.
        Otherwise, they are still valid
      operationId: send_feedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostFeedbackRequest'
        required: true
      responses:
        "201":
          description: The feedback has been **successfully posted to GitHub**. We return the link to the GitHub issue.
          content:
            text/plain:
              schema:
                type: string
                format: uri
              example: https://github.com/TUM-Dev/navigatum/issues/9
        "400":
          description: '**Bad Request.** Not all fields in the body are present as defined above'
        "403":
          description: |-
            **Forbidden.** Causes are (delivered via the body):

            - `Invalid token`: You have not supplied a token generated via the `gen_token`-Endpoint.
            - `Token not old enough, please wait`: Tokens are only valid after 10s.
            - `Token expired`: Tokens are only valid for 12h.
            - `Token already used`: Tokens are non reusable/refreshable single-use items.
          content:
            text/plain:
              schema:
                type: string
        "422":
          description: '**Unprocessable Entity.** Subject or body missing or too short.'
        "451":
          description: '**Unavailable for legal reasons.** Using this endpoint without accepting the privacy policy is not allowed. For us to post to GitHub, this has to be `true`'
        "500":
          description: '**Internal Server Error.** We have a problem communicating with GitHubs servers. Please try again later'
        "503":
          description: '**Service unavailable.** We have not configured a GitHub Access Token. This could be because we are experiencing technical difficulties or intentional. Please try again later.'
  /api/feedback/get_token:
    post:
      tags:
        - feedback
      summary: Get a feedback-token
      description: |-
        ***Do not abuse this endpoint.***

        This returns a JWT token usable for submitting feedback.
        You should request a token, ***if (and only if) a user is on a feedback page***

        As a rudimentary way of rate-limiting feedback, this endpoint returns a token.
        To post feedback, you will need this token.

        Tokens gain validity after 5s, and are invalid after 12h of being issued.
        They are not refreshable, and are only valid for one usage.

        # Note:

        Global Rate-Limiting allows bursts with up to 20 requests and replenishes 50 requests per day
      operationId: get_token
      responses:
        "201":
          description: '**Created** a usable token'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        "429":
          description: '**Too many requests.** We are rate-limiting everyone''s requests, please try again later.'
        "503":
          description: '**Service unavailable.** We have not configured a GitHub Access Token. This could be because we are experiencing technical difficulties or intentional. Please try again later.'
  /api/feedback/propose_edits:
    post:
      tags:
        - feedback
      summary: Post Edit-Requests
      description: |-
        ***Do not abuse this endpoint.***

        This posts the actual feedback to GitHub and returns the github link.
        This API will create pull-requests instead of issues => only a subset of feedback is allowed.
        For this Endpoint to work, you need to generate a token via the [`/api/feedback/get_token`](#tag/feedback/operation/get_token) endpoint.

        # Note:

        Tokens are only used if we return a 201 Created response. Otherwise, they are still valid
      operationId: propose_edits
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditRequest'
        required: true
      responses:
        "201":
          description: The edit request feedback has been **successfully posted to GitHub**. We return the link to the GitHub issue.
          content:
            text/plain:
              schema:
                type: string
                format: uri
              example: https://github.com/TUM-Dev/navigatum/issues/9
        "400":
          description: '**Bad Request.** Not all fields in the body are present as defined above'
        "403":
          description: |-
            **Forbidden.** Causes are (delivered via the body):

            - `Invalid token`: You have not supplied a token generated via the `gen_token`-Endpoint.
            - `Token not old enough, please wait`: Tokens are only valid after 10s.
            - `Token expired`: Tokens are only valid for 12h.
            - `Token already used`: Tokens are non reusable/refreshable single-use items.
        "422":
          description: '**Unprocessable Entity.** Subject or body missing or too short.'
        "451":
          description: '**Unavailable for legal reasons.** Using this endpoint without accepting the privacy policy is not allowed. For us to post to GitHub, this has to be true'
        "500":
          description: '**Internal Server Error.** We have a problem communicating with GitHubs servers. Please try again later.'
        "503":
          description: Service unavailable. We have not configured a GitHub Access Token. This could be because we are experiencing technical difficulties or intentional. Please try again later.
  /api/locations/{id}:
    get:
      tags:
        - locations
      summary: Get entry-details
      description: |-
        This returns the full data available for the entry (room/building).

        This is more data, that should be supplied once a user clicks on an entry.
        Preloading this is not an issue on our end, but keep in mind bandwith constraints on your side.
        The data can be up to 50kB (using gzip) or 200kB unzipped.
        More about this data format is described in the NavigaTUM-data documentation
      operationId: get_handler
      parameters:
        - name: id
          in: path
          description: ID of the location
          required: true
          schema:
            type: string
        - name: lang
          in: query
          description: The language you want your preview to be in. If either this or the query parameter is set to en, this will be delivered.
          required: false
          schema:
            type: string
            enum:
              - de
              - en
      responses:
        "200":
          description: '**Details** about the **location**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationDetailsResponse'
        "400":
          description: '**Bad request.** Make sure that requested item ID is not empty and not longer than 255 characters'
          content:
            text/plain:
              schema:
                type: string
              example: Invalid ID
        "404":
          description: '**Not found.** Make sure that requested item exists'
          content:
            text/plain:
              schema:
                type: string
              example: Not found
  /api/locations/{id}/nearby:
    get:
      tags:
        - locations
      summary: Get the nearby items
      description: Shows nearby POIs like public transport stations
      operationId: nearby_handler
      parameters:
        - name: id
          in: path
          description: ID of a location
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Things **nearby to the location**
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearbyLocationsResponse'
        "400":
          description: '**Bad request.** Make sure that requested item ID is not empty and not longer than 255 characters'
          content:
            text/plain:
              schema:
                type: string
              example: Invalid ID
        "404":
          description: '**Not found.** Make sure that requested item exists'
          content:
            text/plain:
              schema:
                type: string
              example: Not found
  /api/locations/{id}/preview:
    get:
      tags:
        - locations
      summary: Get a entry-preview
      description: |-
        This returns a 1200x630px preview for the location (room/building/..).

        This is usefully for implementing custom `OpenGraph` images for detail previews.
      operationId: maps_handler
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: lang
          in: query
          required: false
          schema:
            type: string
            enum:
              - de
              - en
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum:
              - open_graph
              - square
      responses:
        "200":
          description: '**Preview image**'
          content:
            image/png: {}
        "400":
          description: '**Bad request.** Make sure that requested item ID is not empty and not longer than 255 characters'
          content:
            text/plain:
              schema:
                type: string
              example: Invalid ID
        "404":
          description: '**Not found.** Make sure that requested item exists'
          content:
            text/plain:
              schema:
                type: string
              example: Not found
  /api/locations/{id}/qr-code:
    get:
      tags:
        - locations
      summary: Get a QR code for a location
      description: |-
        This returns a QR code image (PNG) that links to the location's detail page.
        The QR code uses TUM blue (#0065bd) as foreground color with white background and rounded corners.
      operationId: qr_code_handler
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: '**QR code image**'
          content:
            image/png: {}
        "400":
          description: '**Bad request.** Make sure that requested item ID is not empty and not longer than 255 characters'
          content:
            text/plain:
              schema:
                type: string
              example: Invalid ID
        "500":
          description: '**Internal server error**'
          content:
            text/plain:
              schema:
                type: string
  /api/maps/route:
    get:
      tags:
        - maps
      summary: Routing requests
      description: |-
        **API IS EXPERIMENTAL AND ACTIVELY SUBJECT TO CHANGE**

        The user specifies using provided origin (`from`) and destination (`to`) locations and a transport mode (`route_costing`) to tune their routing between the two locations.
        The costing is fine-tuned by the server side accordingly.

        Internally, this endpoint relies on
        - [Valhalla](https://github.com/valhalla/valhalla) for routing for route calculation
        - our database to resolve ids.

          You will need to look the ids up via [`/api/search`](#tag/locations/operation/search_handler) beforehand.
          **Note:** [`/api/search`](#tag/locations/operation/search_handler) does support both university internal routing and external addressing.

        **In the future (i.e. public transit routing currently is not implemented)**, it will als rely on either
        - [OpenTripPlanner2](https://www.opentripplanner.org/) or
        - [Motis](https://github.com/motis-project/motis)
      operationId: route_handler
      parameters:
        - name: lang
          in: query
          required: false
          schema:
            type: string
            enum:
              - de
              - en
        - name: from
          in: query
          description: Start of the route
          required: true
          schema:
            oneOf:
              - $ref: '#/components/schemas/Coordinate'
                description: |-
                  Either an
                  - external address which was looked up or
                  - the users current location
              - type: string
                description: Our (uni internal) key for location identification
        - name: to
          in: query
          description: Destination of the route
          required: true
          schema:
            oneOf:
              - $ref: '#/components/schemas/Coordinate'
                description: |-
                  Either an
                  - external address which was looked up or
                  - the users current location
              - type: string
                description: Our (uni internal) key for location identification
        - name: route_costing
          in: query
          description: |-
            Transport mode the user wants to use

            If not specified, the default is based on how far the destinations are apart and requested time.
          required: false
          schema:
            oneOf:
              - type: "null"
              - type: string
                description: Transport mode the user wants to use
                enum:
                  - pedestrian
                  - bicycle
                  - motorcycle
                  - car
                  - public_transit
        - name: pedestrian_type
          in: query
          description: Does the user have specific walking restrictions?
          required: false
          schema:
            type: string
            description: Does the user have specific walking needs?
            enum:
              - standard
              - blind
              - wheelchair
        - name: ptw_type
          in: query
          description: Does the user prefer mopeds or motorcycles for powered two-wheeled (ptw)?
          required: false
          schema:
            type: string
            description: Does the user have a moped or motorcycle
            enum:
              - motorcycle
              - moped
        - name: bicycle_type
          in: query
          description: Which kind of bicycle do you ride?
          required: false
          schema:
            type: string
            description: Which kind of bicycle do you ride?
            enum:
              - road
              - hybrid
              - cross
              - mountain
        - name: page_cursor
          in: query
          description: |-
            Cursor position for pagination
            Only avaliable for some costings
          required: false
          schema:
            type:
              - string
              - "null"
        - name: time
          in: query
          description: |-
            Time for the route (ISO 8601 format)
            Used with `arrive_by` to determine if this is departure or arrival time
          required: false
          schema:
            type:
              - string
              - "null"
            format: date-time
        - name: arrive_by
          in: query
          description: Whether the time parameter represents arrival time (true) or departure time (false/not set)
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: '**Routing solution**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingResponse'
        "404":
          description: '**Not found.** The requested location does not exist'
          content:
            text/plain:
              schema:
                type: string
              example: Not found
  /api/mensa/{canteen}:
    get:
      tags:
        - mensa
      summary: Get a canteen's live menu
      description: |-
        Proxies the TUM-Dev eat-api feed for the current and next ISO week at request time, so the
        menu stays fresh without a rebuild. The German dish `labels` are mapped to localized text by
        the client.

        An unknown or closed canteen returns `200` with an empty `days` list; only an actual upstream
        outage returns `502`, letting callers tell "closed" from "broken".
      operationId: menu_handler
      parameters:
        - name: canteen
          in: path
          description: eat-api canteen slug.
          required: true
          schema:
            type: string
          example: mensa-garching
      responses:
        "200":
          description: '**Menu** for the **canteen**, current and next ISO week merged'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MensaMenuResponse'
        "404":
          description: '**Bad slug.** The canteen id must match `^[a-z0-9-]{1,40}$`'
          content:
            text/plain:
              schema:
                type: string
              example: Not found
        "502":
          description: '**Upstream failure.** eat-api could not be reached or returned an error'
          content:
            text/plain:
              schema:
                type: string
              example: eat-api upstream unavailable
  /api/openapi.json:
    get:
      summary: Openapi service definition
      description: Usefull for consuming in external openapi tooling
      operationId: openapi_doc
      responses:
        "200":
          description: The openapi definition
          content:
            application/json: {}
  /api/search:
    get:
      tags:
        - locations
      summary: Search entries
      description: |-
        This endpoint is designed to support search-as-you-type results.

        Instead of simply returning a list, the search results are returned in a way to provide a richer experience by splitting them up into sections. You might not necessarily need to implement all types of sections, or all sections features (if you just want to show a list). The order of sections is a suggested order to display them, but you may change this as you like.

        Some fields support highlighting the query terms and it uses \x19 and \x17 to mark the beginning/end of a highlighted sequence.
        (See [Wikipedia](https://en.wikipedia.org/wiki/C0_and_C1_control_codes#Modified_C0_control_code_sets)).
        Some text-renderers will ignore them, but in case you do not want to use them, you might want to remove them from the responses via empty `pre_highlight` and `post_highlight` query parameters.
      operationId: search_handler
      parameters:
        - name: q
          in: query
          description: |-
            string you want to search for.

            The amounts returned can be controlled using the `limit_*` parameters.
            Use `in`, `usage`, `type`, and `near` query parameters for filtering.
          required: true
          schema:
            type: string
        - name: in
          in: query
          description: |-
            Filter by parent (building, campus, etc.).

            Can be repeated for multiple values (e.g. `&in=garching&in=5304`).
          required: false
          schema:
            type: array
            items:
              type: string
        - name: usage
          in: query
          description: |-
            Filter by usage type (e.g. `wc`, `büro`).

            Can be repeated for multiple values.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: type
          in: query
          description: |-
            Filter by facet.

            Can be repeated for multiple values. Unknown values cause a `400`.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/FacetFilter'
        - name: near
          in: query
          description: Sort results by distance to a coordinate (`lat,lon`).
          required: false
          schema:
            type: string
        - name: search_addresses
          in: query
          description: |-
            Include adresses in the saerch

            Be aware that Nominatim (which we use to do this search) is really slow (~100ms).
            Only activate this when you really need it.
          required: false
          schema:
            type: boolean
        - name: search_events
          in: query
          description: |-
            Include campus events in the search.

            Most clients don't render events, so this facet is disabled by default.
            Requesting `type=event` implies enabling it.
          required: false
          schema:
            type: boolean
        - name: limit_sites
          in: query
          description: |-
            Maximum number of sites (campus / site / area) to return.

            Clamped to `0`..`1000`.
            If this is a problem for you, please open an issue.
          required: false
          schema:
            type: integer
            minimum: 0
        - name: limit_buildings
          in: query
          description: |-
            Maximum number of buildings to return.

            Clamped to `0`..`1000`.
            If this is a problem for you, please open an issue.
          required: false
          schema:
            type: integer
            minimum: 0
        - name: limit_rooms
          in: query
          description: |-
            Maximum number of rooms to return.

            Clamped to `0`..`1000`.
            If this is an problem for you, please open an issue.
          required: false
          schema:
            type: integer
            minimum: 0
        - name: limit_pois
          in: query
          description: |-
            Maximum number of POIs (points of interest) to return.

            Clamped to `0`..`1000`.
            If this is a problem for you, please open an issue.
          required: false
          schema:
            type: integer
            minimum: 0
        - name: limit_lectures
          in: query
          description: |-
            Maximum number of lectures to return.

            Clamped to `0`..`1000`.
            If this is a problem for you, please open an issue.
          required: false
          schema:
            type: integer
            minimum: 0
        - name: limit_events
          in: query
          description: |-
            Maximum number of events to return.

            Only has an effect when the event facet is enabled (via `search_events`
            or `type=event`).
            Clamped to `0`..`1000`.
            If this is a problem for you, please open an issue.
          required: false
          schema:
            type: integer
            minimum: 0
        - name: limit_all
          in: query
          description: |-
            Maximum number of results to return.

            Clamped to `1`..`1000`.
            If this is an problem for you, please open an issue.
          required: false
          schema:
            type: integer
            minimum: 0
        - name: pre_highlight
          in: query
          description: |-
            string to include in front of highlighted sequences.

            If this and `post_highlight` are empty, highlighting is disabled.
            For background on the default values, please see [Wikipedia](https://en.wikipedia.org/wiki/C0_and_C1_control_codes#Modified_C0_control_code_sets)).
          required: false
          schema:
            type: string
        - name: post_highlight
          in: query
          description: |-
            string to include after the highlighted sequences.

            If this and `pre_highlight` are empty, highlighting is disabled.
            For background on the default values, please see [Wikipedia](https://en.wikipedia.org/wiki/C0_and_C1_control_codes#Modified_C0_control_code_sets)).
          required: false
          schema:
            type: string
        - name: cropping
          in: query
          description: |-
            How to handle cropping of long building names in `parsed_id`.

            - `crop` (default): crop long names (> 25 chars) with an ellipsis.
            - `full`: never crop; always show full building names.
          required: false
          schema:
            type: string
            description: Controls whether long building names inside `parsed_id` are cropped.
            enum:
              - crop
              - full
        - name: parsed_id
          in: query
          description: |-
            How to format `parsed_id` for rooms.

            - `prefixed` (default): add common building prefixes (e.g. `MW 1801`).
            - `roomfinder`: return room codes in Roomfinder format (`archname@building_id`).
          required: false
          schema:
            type: string
            description: Controls how `parsed_id` is built for room results.
            enum:
              - prefixed
              - roomfinder
      responses:
        "200":
          description: Search entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        "400":
          description: '**Bad Request.** Not all fields in the body are present as defined above'
          content:
            text/plain:
              schema:
                type: string
              example: 'Query deserialize error: invalid digit found in string'
        "404":
          description: '**Not found.** `q` is empty. Since searching for nothing is nonsensical, we dont support this.'
          content:
            text/plain:
              schema:
                type: string
              example: Not found
        "414":
          description: '**URI Too Long.** The uri you are trying to request is unreasonably long. Search querys dont have thousands of chars..'
          content:
            text/plain:
              schema:
                type: string
  /api/status:
    get:
      summary: API healthcheck
      description: |-
        If this endpoint does not return 200, the API is experiencing a catastrophic outage.
        **Should never happen.**
      operationId: health_status_handler
      responses:
        "200":
          description: API is **healthy**
          content:
            text/plain:
              schema:
                type: string
              example: |-
                healthy
                source_code: https://github.com/TUM-Dev/navigatum/tree/{hash}
        "503":
          description: API is **NOT healthy**
          content:
            text/plain:
              schema:
                type: string
              example: |-
                unhealthy
                source_code: https://github.com/TUM-Dev/navigatum/tree/{hash}
components:
  schemas:
    AddressEntry:
      type: object
      description: |-
        A Nominatim address search result.

        Unlike a [`LocationEntry`], an address is not a `NavigaTUM` entity: it has no
        canonical `/{type}/{id}` route, and its `addresstype` is an open Nominatim
        vocabulary rather than the closed [`LocationEntryType`] set.
      required:
        - id
        - addresstype
        - name
        - subtext
      properties:
        addresstype:
          type: string
          description: The raw Nominatim `addresstype` (e.g. `road` or `suburb`).
          example: road
        id:
          type: string
          description: The id of the address, derived from the OSM id.
          example: osm_182663548
        name:
          type: string
          description: The display name of the result.
          example: Boltzmannstraße
        subtext:
          type: string
          description: |-
            Subtext to show below the search result.

            Contains the serialised address.
          example: Boltzmannstraße, Garching bei München
    AddressSection:
      type: object
      description: A section of Nominatim address results.
      required:
        - entries
        - n_visible
        - estimatedTotalHits
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/AddressEntry'
        estimatedTotalHits:
          type: integer
          description: The estimated (not exact) number of hits for that query
          example: 6
          minimum: 0
        n_visible:
          type: integer
          description: |-
            A recommendation how many of the entries should be displayed by default.

            The number is usually from `0`..`5`.
            More results might be displayed when clicking "expand".
          example: 4
          minimum: 0
    AlertCauseResponse:
      type: string
      enum:
        - unknown_cause
        - other_cause
        - technical_problem
        - strike
        - demonstration
        - accident
        - holiday
        - weather
        - maintenance
        - construction
        - police_activity
        - medical_emergency
    AlertEffectResponse:
      type: string
      enum:
        - no_service
        - reduced_service
        - significant_delays
        - detour
        - additional_service
        - modified_service
        - other_effect
        - unknown_effect
        - stop_moved
        - no_effect
        - accessibility_issue
    AlertResponse:
      type: object
      required:
        - description_text
        - header_text
      properties:
        cause:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/AlertCauseResponse'
        cause_detail:
          type:
            - string
            - "null"
          description: |-
            Description of the cause of the alert that allows for
             agency-specific language; more specific than the Cause.
        description_text:
          type: string
          description: |-
            Description for the alert.
            This plain-text string will be formatted as the body of the alert
             (or shown on an explicit "expand" request by the user).
             The information in the description should add to the information of
             the header.
        effect:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/AlertEffectResponse'
        effect_detail:
          type:
            - string
            - "null"
          description: |-
            Description of the effect of the alert that allows for
             agency-specific language; more specific than the Effect.
        header_text:
          type: string
          description: |-
            Header for the alert. This plain-text string will be highlighted,
             for example in boldface.
        image_alternative_text:
          type:
            - string
            - "null"
          description: |-
            Text describing the appearance of the linked image in the image
             field (e.g., in case the image can't be displayed or the
             user can't see the image for accessibility reasons). See the
             HTML spec for alt image text.
        image_media_type:
          type:
            - string
            - "null"
          description: |-
            IANA media type as to specify the type of image to be displayed. The
             type must start with "image/"
        image_url:
          type:
            - string
            - "null"
          description: String containing an URL linking to an image.
        severity_level:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/AlertSeverityLevelResponse'
        url:
          type:
            - string
            - "null"
          description: The URL which provides additional information about the alert.
    AlertSeverityLevelResponse:
      type: string
      enum:
        - unknown
        - info
        - warning
        - severe
    Arguments:
      type: object
      required:
        - ids
        - start_after
        - end_before
      properties:
        end_before:
          type: string
          format: date-time
          description: The last allowed time the calendar would like to display
          examples:
            - "2039-01-19T03:14:07+01:00"
            - 2042-01-07T00:00:00 UTC
        ids:
          type: array
          items:
            type: string
          description: |-
            ids you want the calendars for

            Limit of max. 10 ids is arbitraryly chosen, if you need this limit increased, please contact us
          example:
            - 5605.EG.011
            - 5510.02.001
            - 5606.EG.036
            - "5304"
          maxItems: 10
          minItems: 1
        start_after:
          type: string
          format: date-time
          description: The first allowed time the calendar would like to display
          examples:
            - "2039-01-19T03:14:07+01:00"
            - 2042-01-07T00:00:00 UTC
    BuildingKind:
      type: string
      enum:
        - building
        - joined_building
        - area
    BuildingsOverviewItemResponse:
      type: object
      required:
        - id
        - type
        - name
        - subtext
      properties:
        id:
          type: string
          description: The id of the entry
        name:
          type: string
          description: Human display name
        subtext:
          type: string
          description: What should be displayed below this Building
        thumb:
          type:
            - string
            - "null"
          description: The thumbnail for the building
        type:
          $ref: '#/components/schemas/BuildingsOverviewItemTypeResponse'
          description: The type of the entry, used to build its canonical `/{type}/{id}` route.
    BuildingsOverviewItemTypeResponse:
      type: string
      description: |-
        The type of a building-overview child.

        A strict subset of [`LocationTypeResponse`]: the overview only ever lists the
        container types whose `subtext` the data pipeline knows how to render
        (`generate_buildings_overview` in `data/processors/sections.py`). Modelling it
        separately lets clients build the canonical `/{type}/{id}` route without a
        non-routable fallback.
      enum:
        - building
        - joined_building
        - area
        - site
    BuildingsOverviewResponse:
      type: object
      required:
        - entries
        - n_visible
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/BuildingsOverviewItemResponse'
        n_visible:
          type: integer
          format: int32
          minimum: 0
    CalendarLocationResponse:
      type: object
      required:
        - key
        - name
        - last_calendar_scrape_at
        - type_common_name
        - type
      properties:
        calendar_url:
          type:
            - string
            - "null"
          description: Link to the calendar of the room
          examples:
            - https://campus.tum.de/tumonline/tvKalender.wSicht?cOrg=19691&cRes=12543&cReadonly=J
            - https://campus.tum.de/tumonline/tvKalender.wSicht?cOrg=19691&cRes=12559&cReadonly=J
        key:
          type: string
          description: |-
            Structured, globaly unique room code

            Included to enable multi-room calendars.
            Format: BUILDING.LEVEL.NUMBER
          examples:
            - 5602.EG.001
            - 5121.EG.003
        last_calendar_scrape_at:
          type: string
          format: date-time
          description: last time the calendar was scraped for this room
          examples:
            - "2039-01-19T03:14:07+01:00"
            - 2042-01-07T00:00:00 UTC
        name:
          type: string
          description: name of the entry in a human-readable form
          examples:
            - 5602.EG.001 (MI HS 1, Friedrich L. Bauer Hörsaal)
            - 5121.EG.003 (Computerraum)
        type:
          type: string
          description: |-
            type of the entry

            TODO document as a n enum with the following choices:
            - `room`
            - `building`
            - `joined_building`
            - `area`
            - `site`
            - `campus`
            - `poi`
          examples:
            - room
            - building
            - joined_building
            - area
            - site
            - campus
            - poi
        type_common_name:
          type: string
          description: Type of the entry in a human-readable form
          examples:
            - Serverraum
            - Büro
    ComputedPropResponse:
      type: object
      required:
        - name
        - text
      properties:
        extra:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ExtraComputedPropResponse'
        name:
          type: string
          examples:
            - Raumkennung
        text:
          type: string
          examples:
            - 5602.EG.001
    Coordinate:
      type: object
      required:
        - lat
        - lon
      properties:
        lat:
          type: number
          format: double
          description: Latitude
          example: 48.26244490906312
        lon:
          type: number
          format: double
          description: Longitude
          example: 48.26244490906312
    CoordinateAccuracyResponse:
      type: string
      enum:
        - building
    CoordinateResponse:
      type: object
      required:
        - lat
        - lon
        - source
      properties:
        accuracy:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/CoordinateAccuracyResponse'
              description: |-
                How accurate the coordinate is.
                Only present, if it is limited to a degree (e.g. we only know the building)
        lat:
          type: number
          format: double
          description: Latitude
          example: 48.26244490906312
        lon:
          type: number
          format: double
          description: Longitude
          example: 48.26244490906312
        source:
          $ref: '#/components/schemas/CoordinateSourceResponse'
          description: Source of the Coordinates
    CoordinateSourceResponse:
      type: string
      enum:
        - navigatum
        - roomfinder
        - inferred
    DefaultMapsResponse:
      type: string
      enum:
        - interactive
        - roomfinder
    DirectionResponse:
      type: string
      enum:
        - depart
        - hard_left
        - left
        - slightly_left
        - continue
        - slightly_right
        - right
        - hard_right
        - circle_clockwise
        - circle_counterclockwise
        - stairs
        - elevator
        - uturn_left
        - uturn_right
    EditRequest:
      type: object
      required:
        - token
        - additional_context
        - privacy_checked
      properties:
        additional_context:
          type: string
          description: |-
            Additional context for the edit.

            Will be displayed in the discription field of the PR
          example: I have a picture of the room, please add it to the roomfinder
        additions:
          $ref: '#/components/schemas/LimitedHashMap_String_Addition'
          description: New rooms/buildings/POIs to add. Keyed by the new entry's ID. Validated server-side.
        edits:
          $ref: '#/components/schemas/LimitedHashMap_String_Edit'
          description: The edits to be made to the room. The keys are the ID of the props to be edited, the values are the proposed Edits.
        privacy_checked:
          type: boolean
          description: |-
            Whether the user has checked the privacy-checkbox.

            We are posting the feedback publicly on GitHub (not a EU-Company).
            **You MUST also include such a checkmark.**
        token:
          type: string
          description: The JWT token, that can be used to generate feedback
          example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2Njk2MzczODEsImlhdCI6MTY2OTU5NDE4MSwibmJmIjoxNjY5NTk0MTkxLCJraWQiOjE1ODU0MTUyODk5MzI0MjU0Mzg2fQ.sN0WwXzsGhjOVaqWPe-Fl5x-gwZvh28MMUM-74MoNj4
    EventEntry:
      type: object
      description: |-
        A campus event search result, carrying the full event-proposal pre-fill payload.

        One entry per `events.csv` row, identified by the addition key: picking one
        in a client pre-fills the event proposal form without a second round-trip,
        so every CSV column rides along.
      required:
        - id
        - name
        - description
        - starts_at
        - ends_at
        - lat
        - lon
        - organising_org_id
        - image
        - image_author
        - image_thumb_offset
        - image_header_offset
      properties:
        description:
          type: string
          description: The description of the event.
          example: Open-air student festival.
        ends_at:
          type: string
          format: date-time
          description: When the event ends, as an RFC 3339 timestamp.
          example: "2026-06-19T21:59:00Z"
        id:
          type: string
          description: |-
            The `event_<hash>` addition key - the upsert identity shared by the
            `events.csv` row and its key-named images.
          example: event_9d02ddd940c43f87
        image:
          type: string
          description: The `/cdn/thumb/…` delivery path of the event image.
          example: /cdn/thumb/event_9d02ddd940c43f87_0.webp
        image_author:
          type: string
          description: The author of the event image (CC-BY attribution).
          example: Studentische Vertretung TUM
        image_header_offset:
          type: integer
          format: int32
          description: |-
            Crop offset of the header image: pixels to shift the crop window
            along the image's longer axis. `0` when unset, so a client can recover the crop.
          example: 257
        image_thumb_offset:
          type: integer
          format: int32
          description: |-
            Crop offset of the thumbnail image: pixels to shift the crop window
            along the image's longer axis. `0` when unset, so a client can recover the crop.
          example: 14
        lat:
          type: number
          format: double
          description: Latitude of the event location.
          example: 48.262908
        lon:
          type: number
          format: double
          description: Longitude of the event location.
          example: 11.669102
        name:
          type: string
          description: The display name of the result. Supports highlighting.
          example: "\x19GARNIX\x17 Festival"
        organising_org_id:
          type: integer
          format: int32
          description: The `TUMonline` org id of the organising organisation.
          example: 51897
        starts_at:
          type: string
          format: date-time
          description: When the event starts, as an RFC 3339 timestamp.
          example: "2026-06-15T14:00:00Z"
    EventResponse:
      type: object
      required:
        - id
        - room_code
        - start_at
        - end_at
        - title_de
        - title_en
        - entry_type
        - detailed_entry_type
      properties:
        detailed_entry_type:
          type: string
          description: For some Entrys, we do have more information (what kind of a `lecture` is it? What kind of an other `entry` is it?)
          examples:
            - Abhaltung
        end_at:
          type: string
          format: date-time
          description: end of the entry
          examples:
            - 2019-01-01T00:00:00
        entry_type:
          $ref: '#/components/schemas/EventTypeResponse'
          description: |-
            What this calendar entry means.

            Each of these should be displayed in a different color
        id:
          type: integer
          format: int32
          description: ID of the calendar entry used in `TUMonline` internally
          examples:
            - 6424
        room_code:
          type: string
          description: |-
            Structured, globaly unique room code

            Included to enable multi-room calendars.
            Format: BUILDING.LEVEL.NUMBER
          examples:
            - 5602.EG.001
            - 5121.EG.003
        start_at:
          type: string
          format: date-time
          description: start of the entry
          examples:
            - 2018-01-01T00:00:00
        stp_type:
          type:
            - string
            - "null"
          description: Lecture-type
          examples:
            - Vorlesung mit Zentralübung
        title_de:
          type: string
          description: German title of the Entry
          examples:
            - Quantenteleportation
        title_en:
          type: string
          description: English title of the Entry
          examples:
            - Quantum teleportation
    EventSection:
      type: object
      description: A section of campus event results.
      required:
        - entries
        - n_visible
        - estimatedTotalHits
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/EventEntry'
        estimatedTotalHits:
          type: integer
          description: The estimated (not exact) number of hits for that query
          example: 6
          minimum: 0
        n_visible:
          type: integer
          description: |-
            A recommendation how many of the entries should be displayed by default.

            The number is usually from `0`..`5`.
            More results might be displayed when clicking "expand".
          example: 4
          minimum: 0
    EventTypeResponse:
      type: string
      enum:
        - lecture
        - exercise
        - exam
        - barred
        - other
    ExtraComputedPropResponse:
      type: object
      required:
        - body
      properties:
        body:
          type: string
          examples:
            - 'for exams: 102 in tight, 71 in wide, 49 in corona'
        footer:
          type:
            - string
            - "null"
          examples:
            - data based on a Survey of chimneysweeps
        header:
          type:
            - string
            - "null"
          examples:
            - Genauere Angaben
    FacetFilter:
      type: string
      description: |-
        Allowlisted values for the `?type=` query parameter.

        Modeled as an enum so `serde` rejects unknown values with a 400 instead of
        silently dropping them, and so the `OpenAPI` schema advertises the exact set
        of accepted values.
      enum:
        - site
        - building
        - room
        - poi
        - lecture
        - event
    FeaturedOverviewItemResponse:
      type: object
      required:
        - id
        - name
        - subtext
        - image_url
      properties:
        id:
          type: string
          description: The id of the entry
        image_url:
          type: string
          description: The thumbnail for the building
        name:
          type: string
          description: Human display name
        subtext:
          type: string
          description: What should be displayed below this Building
    FeaturedOverviewResponse:
      type: object
      required:
        - entries
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/FeaturedOverviewItemResponse'
    FeedbackCategory:
      type: string
      enum:
        - bug
        - feature
        - search
        - navigation
        - entry
        - general
        - other
    FloorResponse:
      type: object
      required:
        - id
        - short_name
        - name
        - tumonline
        - type
      properties:
        id:
          type: integer
          format: int32
          description: |-
            Virtual ID for sorting

            `0` represents the ground floor.
            Numbers above/below represent where they are relative to the ground floor

            **WARNING**:
            This ID is not guaranteed to be stable.
            Not across buildings, nor within a building.
          examples:
            - -1
            - 0
            - 1
            - 2
            - 3
        name:
          type: string
          description: Longer name of the floor
          examples:
            - 1st basement floor
            - Ground floor
            - 1st mezzanine, above ground floor
        short_name:
          type: string
          description: Short name of the floor
          examples:
            - "-1"
            - "0"
            - Z1
        tumonline:
          type: string
          description: How `TUMonline` names the floor
          examples:
            - U1
            - EG
            - Z1
        type:
          $ref: '#/components/schemas/FloorType'
          description: Type of floor
    FloorType:
      type: string
      enum:
        - roof
        - upper
        - semi_upper
        - ground
        - semi_basement
        - basement
    GenericProp:
      type: object
      required:
        - name
        - text
      properties:
        name:
          $ref: '#/components/schemas/TranslatableStr'
        text:
          type: string
    Image:
      type: object
      required:
        - content
        - metadata
      properties:
        content:
          type: string
          description: The image encoded as base64
          contentEncoding: base64
        metadata:
          $ref: '#/components/schemas/ImageMetadata'
    ImageInfoResponse:
      type: object
      description: The information you need to request Images from the `/cdn/{size}/{id}_{counter}.webp` endpoint
      required:
        - name
        - author
        - license
      properties:
        author:
          $ref: '#/components/schemas/URLRefResponse'
        license:
          $ref: '#/components/schemas/PossibleURLRefResponse'
        name:
          type: string
          description: |-
            The name of the image file.
            consists of {`building_id`}_{`image_id}.webp`, where `image_id` is a counter starting at 0
          examples:
            - mi_0.webp
    ImageMetadata:
      type: object
      required:
        - author
        - license
      properties:
        author:
          type: string
          description: Who created the image
        license:
          $ref: '#/components/schemas/Property'
          description: The license under which the image is distributed
        offsets:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/Offsets'
              description: Advanced metadata to control how the image is displayed
    ItineraryResponse:
      type: object
      required:
        - duration
        - end_time
        - legs
        - start_time
        - transfer_count
      properties:
        duration:
          type: integer
          format: int64
          description: journey duration in seconds
        end_time:
          type: string
          format: date-time
          description: journey arrival time
        legs:
          type: array
          items:
            $ref: '#/components/schemas/MotisLegResponse'
          description: Journey legs
        start_time:
          type: string
          format: date-time
          description: journey departure time
        transfer_count:
          type: integer
          format: int64
          description: The number of transfers this trip has.
    LectureEntry:
      type: object
      description: A lecture search result, carrying its bilingual titles and upcoming occurrences.
      required:
        - id
        - name
        - subtext
        - title_de
        - title_en
        - next_occurrence_at
        - upcoming
      properties:
        id:
          type: string
          description: The id of the lecture
          example: lecture_5f2c…
        name:
          type: string
          description: The display name of the result. Supports highlighting.
          example: Einführung in die Informatik 1
        next_occurrence_at:
          type: string
          format: date-time
          description: The next time this lecture takes place, as an RFC 3339 timestamp.
          example: "2024-10-15T08:00:00Z"
        subtext:
          type: string
          description: |-
            Subtext to show below the search result.

            Carries the human `stp_type` label (e.g. "Vorlesung").
          example: Vorlesung
        title_de:
          type: string
          description: The German title of the lecture.
          example: Einführung in die Informatik 1
        title_en:
          type: string
          description: The English title of the lecture.
          example: Introduction to Informatics 1
        upcoming:
          type: array
          items:
            $ref: '#/components/schemas/UpcomingEvent'
          description: |-
            The upcoming occurrences of this lecture, in chronological order.

            The first element's `start_at` matches `next_occurrence_at`. The list is
            capped at whichever covers more events: the next 10 occurrences or those
            within a 14-day window.
    LectureSection:
      type: object
      description: A section of lecture results.
      required:
        - entries
        - n_visible
        - estimatedTotalHits
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/LectureEntry'
        estimatedTotalHits:
          type: integer
          description: The estimated (not exact) number of hits for that query
          example: 6
          minimum: 0
        n_visible:
          type: integer
          description: |-
            A recommendation how many of the entries should be displayed by default.

            The number is usually from `0`..`5`.
            More results might be displayed when clicking "expand".
          example: 4
          minimum: 0
    LimitedHashMap_String_Addition:
      type: object
      additionalProperties:
        oneOf:
          - allOf:
              - $ref: '#/components/schemas/NewRoom'
              - type: object
                required:
                  - kind
                properties:
                  kind:
                    type: string
                    enum:
                      - room
          - allOf:
              - $ref: '#/components/schemas/NewBuilding'
              - type: object
                required:
                  - kind
                properties:
                  kind:
                    type: string
                    enum:
                      - building
          - allOf:
              - $ref: '#/components/schemas/NewPoi'
              - type: object
                required:
                  - kind
                properties:
                  kind:
                    type: string
                    enum:
                      - poi
          - allOf:
              - $ref: '#/components/schemas/NewEvent'
              - type: object
                required:
                  - kind
                properties:
                  kind:
                    type: string
                    enum:
                      - event
      propertyNames:
        type: string
    LimitedHashMap_String_Edit:
      type: object
      additionalProperties:
        type: object
        properties:
          coordinate:
            oneOf:
              - type: "null"
              - $ref: '#/components/schemas/Coordinate'
          image:
            oneOf:
              - type: "null"
              - $ref: '#/components/schemas/Image'
          opening_hours:
            oneOf:
              - type: "null"
              - $ref: '#/components/schemas/OpeningHoursEdit'
          properties:
            type:
              - array
              - "null"
            items:
              $ref: '#/components/schemas/PropertyEdit'
      propertyNames:
        type: string
    LocationDetailsResponse:
      type: object
      required:
        - id
        - type
        - type_common_name
        - name
        - aliases
        - parents
        - parent_names
        - parent_types
        - props
        - ranking_factors
        - sources
        - coords
        - maps
      properties:
        aliases:
          type: array
          items:
            type: string
            examples:
              - - 26503@5406
          description: |-
            A list of alternative ids for this entry.

            Not to be confused with
            - `id` which is the unique identifier or
            - `visual-id` which is an alternative identifier for the entry (only displayed in the URL).
        coords:
          $ref: '#/components/schemas/CoordinateResponse'
          description: Coordinate of the location
        id:
          type: string
          description: The id, that was requested
          examples:
            - 5606.EG.036
        imgs:
          type:
            - array
            - "null"
          items:
            $ref: '#/components/schemas/ImageInfoResponse'
          description: |-
            The information you need to request Images from the `/cdn/{size}/{id}_{counter}.webp` endpoint

            TODO: Sometimes missing, sometimes not.. so weird..
        maps:
          $ref: '#/components/schemas/MapsResponse'
          description: Print or overlay maps for said location
        mensa_menu:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/MensaMenuResponse'
              description: |-
                Weekly canteen menu sourced from the eat-api feed.

                Present for the canteens listed in `data/sources/mensa_canteens.csv`; the snapshot
                covers the current and next ISO week. Omitted for every other entry.
        name:
          type: string
          description: The name of the entry in a human-readable form
          examples:
            - 5606.EG.036 (Büro Fachschaft Mathe Physik Informatik Chemie / MPIC)
        opening_hours:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/OpeningHoursResponse'
              description: |-
                Opening hours of this location, when we have a schedule for it.

                Omitted for entries without a known schedule (most rooms).
        parent_names:
          type: array
          items:
            type: string
            examples:
              - - Standorte
                - Garching Forschungszentrum
                - Fakultät Mathematik & Informatik (FMI oder MI)
                - Finger 06 (BT06)
          description: |-
            The human names of the parents.

            They are ordered as they would appear in a Breadcrumb menu.
            See `parents` for their actual ids.
          minItems: 1
        parent_types:
          type: array
          items:
            $ref: '#/components/schemas/ParentLocationTypeResponse'
          description: |-
            The types of the parents.

            They are ordered as they would appear in a Breadcrumb menu.
            See `parents` for their actual ids.
          minItems: 1
        parents:
          type: array
          items:
            type: string
            examples:
              - - root
                - garching
                - mi
                - "5602"
          description: |-
            The ids of the parents.

            They are ordered as they would appear in a Breadcrumb menu.
            See `parent_names` for their human names.
          minItems: 1
        props:
          $ref: '#/components/schemas/PropsResponse'
          description: Data for the info-card table
        ranking_factors:
          $ref: '#/components/schemas/RankingFactorsResponse'
        redirect_url:
          type: string
          description: |-
            The url, this item should be displayed at.

            Present on both redirects and normal entries, to allow for the common /view/:id path
          examples:
            - /room/5606.EG.036
        sections:
          $ref: '#/components/schemas/SectionsResponse'
          description: |-
            Information for different sections on the page like the
            - buildings overview,
            - rooms overview and
            - featured view
        sources:
          $ref: '#/components/schemas/SourcesResponse'
          description: Where we got our data from, should be displayed at the bottom of any page containing this data
        type:
          $ref: '#/components/schemas/LocationTypeResponse'
          description: The type of the entry
        type_common_name:
          type: string
          description: The type of the entry in a human-readable form
          examples:
            - Büro
    LocationEntry:
      type: object
      description: |-
        A `NavigaTUM` entity search result: a site, building, room, or POI.

        Carries the room-id formatting fields (`parsed_id`/`subtext_bold`) that only
        make sense for locations; lectures use [`LectureEntry`] and Nominatim
        addresses use [`AddressEntry`] instead.
      required:
        - id
        - type
        - name
        - subtext
      properties:
        id:
          type: string
          description: The id of the location
          example: 5510.03.002
        name:
          type: string
          description: The display name of the result. Supports highlighting.
          example: "5510.03.002 (\x19MW\x17 2001, Empore)"
        parsed_id:
          type:
            - string
            - "null"
          description: |-
            This is an optional feature, that is only supported for some rooms.

            It might be displayed instead or before the name, to show that a different room id format has matched, that was probably used.
            See the image below for an example.
            It will be cropped to a maximum length to not take too much space in UIs.
            Supports highlighting.
        subtext:
          type: string
          description: |-
            Subtext to show below the search result.

            Usually contains the context of where this rooms is located in.
            Currently not highlighted.
          example: Maschinenwesen (MW)
        subtext_bold:
          type:
            - string
            - "null"
          description: |-
            Subtext to show below the search (by default in bold and after the non-bold subtext).

            Usually contains the arch-id of the room, which is another common room id format, and supports highlighting.
          example: 3002@5510
        type:
          $ref: '#/components/schemas/LocationEntryType'
          description: The type of the entity, resolving to its canonical `/{type}/{id}` route.
    LocationEntryType:
      type: string
      description: |-
        The type of a `NavigaTUM` entity surfaced as a search result.

        The closed set of location types the data pipeline exports (`valid_types`
        in `data/processors/schema.py`, minus the synthetic, non-searchable
        `root`). Every variant resolves to a canonical `/{type}/{id}` route.
      enum:
        - site
        - campus
        - area
        - joined_building
        - building
        - room
        - virtual_room
        - poi
    LocationEventsResponse:
      type: object
      required:
        - events
        - location
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventResponse'
        location:
          $ref: '#/components/schemas/CalendarLocationResponse'
    LocationSection:
      type: object
      description: A section of `NavigaTUM` entity results (sites, buildings, rooms, POIs).
      required:
        - entries
        - n_visible
        - estimatedTotalHits
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/LocationEntry'
        estimatedTotalHits:
          type: integer
          description: The estimated (not exact) number of hits for that query
          example: 6
          minimum: 0
        n_visible:
          type: integer
          description: |-
            A recommendation how many of the entries should be displayed by default.

            The number is usually from `0`..`5`.
            More results might be displayed when clicking "expand".
          example: 4
          minimum: 0
    LocationTypeResponse:
      type: string
      enum:
        - room
        - building
        - joined_building
        - area
        - site
        - campus
        - poi
        - other
    ManeuverResponse:
      type: object
      required:
        - type
        - instruction
        - time_seconds
        - length_meters
        - begin_shape_index
        - end_shape_index
        - travel_mode
      properties:
        arrive_instruction:
          type:
            - string
            - "null"
          description: |-
            Written arrive time instruction

            Typically used with a transit maneuver
          examples:
            - 'Arrive: 8:10 AM at 34 St - Herald Sq'
        begin_shape_index:
          type: integer
          description: Index into the list of shape points for the start of the maneuver
          example: 0
          minimum: 0
        begin_street_names:
          type:
            - array
            - "null"
          items:
            type: string
            examples:
              - - Josef Fischaber Straße
          description: |-
            When present, these are the street names at the beginning (transition point) of the
            nonobvious maneuver (if they are different from the names that are consistent along the
            entire nonobvious maneuver)
        depart_instruction:
          type:
            - string
            - "null"
          description: |-
            Written depart time instruction

            Typically used with a transit maneuver
          examples:
            - 'Depart: 8:04 AM from 8 St - NYU'
        end_shape_index:
          type: integer
          description: Index into the list of shape points for the end of the maneuver
          example: 3
          minimum: 0
        ferry:
          type:
            - boolean
            - "null"
          description: '`true` if a ferry is encountered on this maneuver'
        gate:
          type:
            - boolean
            - "null"
          description: '`true` if a gate is encountered on this maneuver'
        highway:
          type:
            - boolean
            - "null"
          description: '`true` if a highway is encountered on this maneuver'
        instruction:
          type: string
        length_meters:
          type: number
          format: double
          description: Maneuver length in meters
          example: 103.01
        rough:
          type:
            - boolean
            - "null"
          description: |-
            `true` if the maneuver is unpaved or rough pavement, or has any portions that have rough
            pavement
        roundabout_exit_count:
          type:
            - integer
            - "null"
          format: int64
          description: The spoke to exit roundabout after entering
          example: 2
        street_names:
          type:
            - array
            - "null"
          items:
            type: string
            examples:
              - - Münchnerstraße
          description: List of street names that are consistent along the entire nonobvious maneuver
        time_seconds:
          type: number
          format: double
          description: Estimated time along the maneuver in seconds
          example: 201.025
        toll:
          type:
            - boolean
            - "null"
          description: '`true` if a toll booth is encountered on this maneuver'
        transit_info:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/TransitInfoResponse'
              description: Contains the attributes that describe a specific transit route
        travel_mode:
          $ref: '#/components/schemas/TravelModeResponse'
          description: Travel mode
        type:
          $ref: '#/components/schemas/ManeuverTypeResponse'
        verbal_arrive_instruction:
          type:
            - string
            - "null"
          description: |-
            Text suitable for use as a verbal arrive time instruction

            Typically used with a transit maneuver
          examples:
            - Arrive at 8:10 AM at 34 St - Herald Sq
        verbal_depart_instruction:
          type:
            - string
            - "null"
          description: |-
            Text suitable for use as a verbal depart time instruction

            Typically used with a transit maneuver
          examples:
            - Depart at 8:04 AM from 8 St - NYU
        verbal_multi_cue:
          type:
            - boolean
            - "null"
          description: |-
            `true` if `verbal_pre_transition_instruction` has been appended with
            the verbal instruction of the next maneuver
        verbal_post_transition_instruction:
          type:
            - string
            - "null"
          description: Text suitable for use as a verbal message immediately after the maneuver transition
          examples:
            - Continue on U.S. 2 22 for 3.9 miles
        verbal_pre_transition_instruction:
          type:
            - string
            - "null"
          description: Text suitable for use as a verbal message immediately prior to the maneuver transition
          examples:
            - Turn right onto North Prince Street, U.S. 2 22
        verbal_transition_alert_instruction:
          type:
            - string
            - "null"
          description: |-
            Text suitable for use as a verbal alert in a navigation application

            The transition alert instruction will prepare the user for the forthcoming transition
          examples:
            - Turn right onto North Prince Street
    ManeuverTypeResponse:
      type: string
      enum:
        - none
        - start
        - start_right
        - start_left
        - destination
        - destination_right
        - destination_left
        - becomes
        - continue
        - slight_right
        - right
        - sharp_right
        - uturn_right
        - uturn_left
        - sharp_left
        - left
        - slight_left
        - ramp_straight
        - ramp_right
        - ramp_left
        - exit_right
        - exit_left
        - stay_straight
        - stay_right
        - stay_left
        - merge
        - roundabout_enter
        - roundabout_exit
        - ferry_enter
        - ferry_exit
        - transit
        - transit_transfer
        - transit_remain_on
        - transit_connection_start
        - transit_connection_transfer
        - transit_connection_destination
        - post_transit_connection_destination
        - merge_right
        - merge_left
        - elevator_enter
        - steps_enter
        - escalator_enter
        - building_enter
        - building_exit
    MapsResponse:
      type: object
      required:
        - default
      properties:
        default:
          $ref: '#/components/schemas/DefaultMapsResponse'
          description: type of the Map that should be shown by default
        overlays:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/OverlayMapsResponse'
              description: |-
                `None` would mean no overlay maps are displayed by default.
                For rooms, you should add a warning that no floor map is available for this room
        roomfinder:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/RoomfinderMapResponse'
    MensaMenuDayResponse:
      type: object
      description: One day in a [`MensaMenuResponse`].
      required:
        - date
        - dishes
      properties:
        date:
          type: string
          description: '`YYYY-MM-DD` calendar date of the day.'
          examples:
            - "2026-06-10"
        dishes:
          type: array
          items:
            $ref: '#/components/schemas/MensaMenuDishResponse'
          description: Dishes served on this day, in the upstream serving order.
    MensaMenuDishResponse:
      type: object
      description: One dish on one day of a [`MensaMenuResponse`].
      required:
        - name
        - prices
        - labels
      properties:
        dish_type:
          type:
            - string
            - "null"
          description: |-
            Short category label upstream uses to group the dish (`Pasta`, `Suppe`, `Studitopf`, ...).

            Omitted when upstream did not classify the dish.
          examples:
            - Pasta
        labels:
          type: array
          items:
            $ref: '#/components/schemas/MensaMenuLabel'
          description: |-
            Allergen, ingredient, and certification labels for the dish.

            The client maps each code to localized text via its own label dictionary, so labels stay
            in sync without a server round-trip on language change.
        name:
          type: string
          description: Dish title in the upstream language (German).
          examples:
            - Pasta Emiliana mit (Vorder-)Schinken und Erbsen
        prices:
          $ref: '#/components/schemas/MensaMenuPricesResponse'
          description: Prices keyed by role. A role is omitted when upstream priced the dish only for some.
    MensaMenuLabel:
      oneOf:
        - $ref: '#/components/schemas/MensaMenuLabelKind'
        - type: string
      description: |-
        A single allergen, ingredient, or certification label for a dish.

        Always serialized in our `snake_case` convention (e.g. `gluten`, `chicken_eggs`), regardless
        of how upstream cased it. The known set mirrors eat-api's `enums/labels.json`; a code not yet
        in this schema is preserved (lower-cased) as [`MensaMenuLabel::Other`] so the client can still
        show it instead of the whole menu failing to parse.
    MensaMenuLabelKind:
      type: string
      description: The labels eat-api documents in `enums/labels.json`, normalized to `snake_case` in our output.
      enum:
        - gluten
        - wheat
        - rye
        - barley
        - oat
        - spelt
        - hybrids
        - shellfish
        - chicken_eggs
        - fish
        - peanuts
        - soy
        - milk
        - lactose
        - almonds
        - hazelnuts
        - walnuts
        - cashews
        - pecan
        - pistachios
        - macadamia
        - celery
        - mustard
        - sesame
        - sulphurs
        - sulfites
        - lupin
        - molluscs
        - shell_fruits
        - bavaria
        - msc
        - dyestuff
        - preservatives
        - antioxidants
        - flavor_enhancer
        - waxed
        - phosphates
        - sweeteners
        - phenylalanine
        - cocoa_containing_grease
        - gelatin
        - alcohol
        - pork
        - beef
        - veal
        - wild_meat
        - lamb
        - garlic
        - poultry
        - cereal
        - meat
        - vegan
        - vegetarian
    MensaMenuPriceResponse:
      type: object
      description: |-
        One role's price for a dish.

        `price_per_unit` and `unit` are upstream-optional because flat-rate dishes (e.g. a fixed
        `1.00 €` Studitopf) carry only a `base_price`.
      required:
        - base_price
      properties:
        base_price:
          type: number
          format: double
          description: Flat amount in Euros charged before any unit upcharge.
          examples:
            - 1
        price_per_unit:
          type:
            - number
            - "null"
          format: double
          description: Additional amount in Euros charged per `unit` (e.g. per 100g).
          examples:
            - 0.9
        unit:
          type:
            - string
            - "null"
          description: Unit the `price_per_unit` is charged against (e.g. `100g`).
          examples:
            - 100g
    MensaMenuPricesResponse:
      type: object
      description: |-
        Per-role price block for a [`MensaMenuDishResponse`].

        Each field is `None` when upstream did not price the dish for that role.
      properties:
        guests:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/MensaMenuPriceResponse'
        staff:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/MensaMenuPriceResponse'
        students:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/MensaMenuPriceResponse'
    MensaMenuResponse:
      type: object
      description: |-
        Weekly canteen menu sourced from the TUM-Dev eat-api feed.

        `days` is calendar-ordered and covers the current ISO week plus the next, so a Friday
        visitor still sees Monday. Closed days are simply absent rather than represented as
        empty entries; an unknown or fully-closed canteen yields an empty `days` list.
      required:
        - source_url
        - last_update
        - days
      properties:
        days:
          type: array
          items:
            $ref: '#/components/schemas/MensaMenuDayResponse'
          description: Per-day dish lists in calendar order; only days with at least one dish are present.
        last_update:
          type: string
          description: '`YYYY-MM-DD` date the feed snapshot was last confirmed (the upstream `Last-Modified`).'
          examples:
            - "2026-06-05"
        source_url:
          type: string
          description: Where the menu was sourced from; shown as the "source" link on the card.
          examples:
            - https://tum-dev.github.io/eat-api/#!/de/mensa-garching
    ModeResponse:
      type: string
      enum:
        - walk
        - bike
        - rental
        - car
        - car_parking
        - car_dropoff
        - odm
        - flex
        - transit
        - tram
        - subway
        - suburban
        - ferry
        - airplane
        - metro
        - bus
        - coach
        - rail
        - highspeed_rail
        - long_distance
        - night_rail
        - regional_fast_rail
        - regional_rail
        - cable_car
        - funicular
        - areal_lift
        - ride_sharing
        - other
    MotisLegResponse:
      type: object
      required:
        - duration
        - end_time
        - from
        - to
        - leg_geometry
        - mode
        - real_time
        - scheduled
        - route_color
        - route_text_color
        - scheduled_end_time
        - scheduled_start_time
        - start_time
      properties:
        agency_id:
          type:
            - string
            - "null"
          description: Identifies a transit brand which is often synonymous with a transit agency.
        agency_name:
          type:
            - string
            - "null"
          description: Full name of the transit agency
        agency_url:
          type:
            - string
            - "null"
          description: URL of the transit agency
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/AlertResponse'
          description: Alerts for this stop.
        cancelled:
          type:
            - boolean
            - "null"
          description: Whether this trip is cancelled
        distance:
          type:
            - number
            - "null"
          format: double
          description: Distance in meters
        duration:
          type: integer
          format: int64
          description: |-
            Leg duration in seconds

            If leg is footpath:
              The footpath duration is derived from the default footpath
              duration using the query parameters `transferTimeFactor` and
              `additionalTransferTime` as follows:
              `leg.duration = defaultDuration * transferTimeFactor +
             additionalTransferTime.`  In case the defaultDuration is
             needed, it can be calculated by  `defaultDuration =
             (leg.duration - additionalTransferTime) / transferTimeFactor`.
              Note that the default values are `transferTimeFactor = 1` and
              `additionalTransferTime = 0` in case they are not explicitly
              provided in the query.
        end_time:
          type: string
          format: date-time
          description: leg arrival time
        from:
          $ref: '#/components/schemas/PlaceResponse'
        headsign:
          type:
            - string
            - "null"
          description: |-
            For transit legs, the headsign of the bus or train being used.
            For non-transit legs, null
        interline_with_previous_leg:
          type:
            - boolean
            - "null"
          description: |-
            For transit legs, if the rider should stay on the vehicle as it
             changes route names.
        intermediate_stops:
          type: array
          items:
            $ref: '#/components/schemas/PlaceResponse'
          description: |-
            For transit legs, intermediate stops between the Place where the leg
             originates and the Place where the leg ends. For non-transit
             legs, null.
        leg_geometry:
          type: string
          description: Polyline geometry (precision 6) of the leg.
        mode:
          $ref: '#/components/schemas/ModeResponse'
        real_time:
          type: boolean
          description: Whether there is real-time data about this leg
        rental:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/RentalResponse'
        route_color:
          type: string
          description: |-
            Route color designation that matches public facing material.

            Implementations should default to white (FFFFFF) when omitted or left empty.
            The color difference between `route_color` and `route_text_color` should provide sufficient contrast when viewed on a black and white screen.
        route_short_name:
          type:
            - string
            - "null"
          description: |-
            Short name of a route.

            Often a short, abstract identifier (e.g., "32", "100X", "Green") that riders use to identify a route
        route_text_color:
          type: string
          description: |-
            Legible color to use for text drawn against a background of `route_color`.

            Implementations should default to black (000000) when omitted or left empty.
            The color difference between `route_color` and `route_text_color` should provide sufficient contrast when viewed on a black and white screen.
        route_type:
          type:
            - integer
            - "null"
          format: int64
          description: |-
            Indicates the type of transportation used on a route.

            According to <https://gtfs.org/reference/static/#routestxt> `route_type` Valid options are:

            -  0: Tram, Streetcar, Light rail. Any light rail or street level system within a metropolitan area.
            -  1: Subway, Metro. Any underground rail system within a metropolitan area.
            -  2: Rail. Used for intercity or long-distance travel.
            -  3: Bus. Used for short- and long-distance bus routes.
            -  4: Ferry. Used for short- and long-distance boat service.
            -  5: Cable tram. Used for street-level rail cars where the cable runs beneath the vehicle (e.g., cable car in San Francisco).
            -  6: Aerial lift, suspended cable car (e.g., gondola lift, aerial tramway). Cable transport where cabins, cars, gondolas or open chairs are suspended by means of one or more cables.
            -  7: Funicular. Any rail system designed for steep inclines.
            - 11: Trolleybus. Electric buses that draw power from overhead wires using poles.
            - 12: Monorail. Railway in which the track consists of a single rail or a beam.
        scheduled:
          type: boolean
          description: |-
            Whether this leg was originally scheduled to run or is an additional
             service.
             Scheduled times will equal realtime times in this case.
        scheduled_end_time:
          type: string
          format: date-time
          description: scheduled leg arrival time
        scheduled_start_time:
          type: string
          format: date-time
          description: scheduled leg departure time
        source:
          type:
            - string
            - "null"
          description: Filename and line number where this trip is from
        start_time:
          type: string
          format: date-time
          description: leg departure time
        steps:
          type: array
          items:
            $ref: '#/components/schemas/StepInstructionResponse'
          description: |-
            A series of turn by turn instructions
            used for walking, biking and driving.
        to:
          $ref: '#/components/schemas/PlaceResponse'
        trip_id:
          type:
            - string
            - "null"
          description: Identifies a trip
    MotisRoutingResponse:
      type: object
      required:
        - direct
        - itineraries
        - next_page_cursor
        - previous_page_cursor
      properties:
        direct:
          type: array
          items:
            $ref: '#/components/schemas/ItineraryResponse'
          description: |-
            Direct trips by `WALK`, `BIKE`, `CAR`, etc. without time-dependency.

             The starting time (`arriveBy=false`) / arrival time
             (`arriveBy=true`) is always the queried `time` parameter (set to
             "now" if not set). But all `direct` connections are meant
             to be independent of absolute times.
        itineraries:
          type: array
          items:
            $ref: '#/components/schemas/ItineraryResponse'
          description: list of itineraries
        next_page_cursor:
          type: string
          description: |-
            Use the cursor to get the next page of results.

            Insert the cursor
             into the request and post it to get the next page.
             The next page is a set of itineraries departing AFTER the last
             itinerary in this result.
        previous_page_cursor:
          type: string
          description: |-
            Use the cursor to get the previous page of results. Insert the
             cursor into the request and post it to get the previous page.
             The previous page is a set of itineraries departing BEFORE the first
             itinerary in the result for a depart after search. When using the
             default sort order the previous set of itineraries is inserted
             before the current result.
    NearbyLocationsResponse:
      type: object
      required:
        - public_transport
      properties:
        public_transport:
          type: array
          items:
            $ref: '#/components/schemas/TransportationResponse'
          maxItems: 50
    NewBuilding:
      type: object
      required:
        - parent_id
        - node_kind
        - building_prefixes
        - name
        - coords
      properties:
        building_prefixes:
          type: array
          items:
            type: string
        coords:
          $ref: '#/components/schemas/Coordinate'
        internal_id:
          type:
            - string
            - "null"
        name:
          type: string
        node_kind:
          $ref: '#/components/schemas/BuildingKind'
        parent_id:
          type: string
        short_name:
          type:
            - string
            - "null"
        visible_id:
          type:
            - string
            - "null"
    NewEvent:
      type: object
      description: |-
        A proposed campus event, upserted by key into `data/sources/events.csv`: a row whose
        image path derives from the addition key is replaced, otherwise the event is appended.
      required:
        - image
        - name
        - description
        - starts_at
        - ends_at
        - coords
        - organising_org_id
      properties:
        coords:
          $ref: '#/components/schemas/Coordinate'
        description:
          type: string
        ends_at:
          type: string
        image:
          $ref: '#/components/schemas/Image'
        name:
          type: string
        organising_org_id:
          type: integer
          format: int32
        starts_at:
          type: string
          description: RFC3339 string, to match the CSV/parquet contract.
    NewPoi:
      type: object
      required:
        - parent
        - name
        - usage_name
        - coords
      properties:
        comment:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/TranslatableStr'
        coords:
          $ref: '#/components/schemas/Coordinate'
        generic_props:
          type: array
          items:
            $ref: '#/components/schemas/GenericProp'
        links:
          type: array
          items:
            $ref: '#/components/schemas/PoiLink'
        name:
          type: string
        parent:
          type: string
        usage_name:
          type: string
    NewRoom:
      type: object
      required:
        - parent_building_id
        - alt_name
        - arch_name
        - usage_id
        - coords
      properties:
        address:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/RoomAddress'
        alt_name:
          type: string
        arch_name:
          type: string
        coords:
          $ref: '#/components/schemas/Coordinate'
        floor_level:
          type:
            - string
            - "null"
        floor_type:
          type:
            - string
            - "null"
        links:
          type: array
          items:
            $ref: '#/components/schemas/RoomLink'
        parent_building_id:
          type: string
        seats:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/Seats'
        usage_id:
          type: integer
          format: int32
          minimum: 0
    Offsets:
      type: object
      properties:
        header:
          type:
            - integer
            - "null"
          format: int32
        thumb:
          type:
            - integer
            - "null"
          format: int32
    OpeningHoursEdit:
      type: object
      description: |-
        A correction to an entry's opening hours.

        Routes into the data pipeline's canonical `opening_hours.csv` (one schedule
        per entry id) rather than a runtime override, so an accepted fix flows back
        to source. The client's day/time builder assembles `opening_hours` into a
        plain OSM `opening_hours` string; `last_update` is stamped server-side so the
        provenance date can't be spoofed, and the optional `valid_from`/`valid_until`/
        `service` columns are left to maintainers (preserved on update, empty on
        insert).
      required:
        - opening_hours
        - source_url
      properties:
        opening_hours:
          type: string
          description: OSM `opening_hours` string assembled by the client's day/time builder.
          example: Mo-Fr 08:00-20:00; Sa 09:00-14:00
        source_url:
          type: string
          format: uri
          description: Absolute http(s) URL documenting the schedule (e.g. the official department page).
          example: https://www.ub.tum.de/oeffnungszeiten
    OpeningHoursResponse:
      type: object
      description: |-
        Opening hours of a location.

        The schedule is a plain OSM [`opening_hours`](https://wiki.openstreetmap.org/wiki/Key:opening_hours)
        string. Any `lecture:`/`break:` semester macros are already expanded into absolute
        date ranges at data-build time, so consumers only ever see standard OSM syntax.
      required:
        - osm
        - source_url
        - last_update
      properties:
        last_update:
          type: string
          description: '`YYYY-MM-DD` date on which this schedule was last confirmed.'
          examples:
            - "2026-05-01"
        osm:
          type: string
          description: Plain OSM `opening_hours` string describing the schedule.
          examples:
            - Mo-Fr 08:00-22:00; Sa 09:00-17:00
        service:
          type:
            - string
            - "null"
          description: |-
            The service variant this schedule describes, when a location distinguishes
            several (e.g. a separate lending desk).
          examples:
            - Ausleihe
        source_url:
          type: string
          description: Where this schedule was sourced from, shown as the "source" link.
          examples:
            - https://www.ub.tum.de/en/branch-libraries
        valid_from:
          type:
            - string
            - "null"
          description: '`YYYY-MM-DD` date from which this schedule is valid, when bounded.'
          examples:
            - "2026-04-28"
        valid_until:
          type:
            - string
            - "null"
          description: '`YYYY-MM-DD` date until which this schedule is valid, when bounded.'
          examples:
            - "2026-09-30"
    OperatorResponse:
      type: object
      description: Operator of a location
      required:
        - id
        - url
        - code
        - name
      properties:
        code:
          type: string
          description: designation code of the operator
          examples:
            - TUS7000
        id:
          type: integer
          format: int32
          description: ID of the operator
          examples:
            - 51901
          minimum: 0
        name:
          type: string
          description: |-
            The full name of the operator (localized). Null for organisations that
             are no longer active (e.g. id=38698), but where the operator has not been
            updated in `TUMonline`.
          examples:
            - TUM School of Social Sciences and Technology
        url:
          type: string
          description: Link to the operator
          examples:
            - https://campus.tum.de/tumonline/webnav.navigate_to?corg=51901
    OverlayMapEntryResponse:
      type: object
      required:
        - id
        - floor
        - name
        - file
        - coordinates
      properties:
        coordinates:
          type: array
          items:
            type: array
            items: false
            prefixItems:
[...]
