repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-toml
      - id: check-yaml
        exclude: "(data/data_format_geo-entry.yaml)|(webclient/pnpm-lock.yaml)"
      - id: check-json
        exclude: "(webclient/tsconfig.json)"
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: requirements-txt-fixer
  # only server
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --manifest-path "server/Cargo.toml"
        language: rust
        pass_filenames: false
        files: ".*\\.rs"
  # only webclient
  - repo: local
    hooks:
      - id: webclient-format
        name: npm run format
        entry: npm run --prefix webclient format
        language: node
        pass_filenames: false
        files: (.*\\vue|.*\\m?js|.*\\ts|.*\\json)
  # only data
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-use-type-annotations
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.5
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: [ "-c", "pyproject.toml" ]
        additional_dependencies: [ "bandit[toml]" ]
