cache_size_mb: 1024
listen_addresses: 0.0.0.0:3001
base_path: $BASE_PATH
web_ui: enableforall
sprites:
  - /map/sprites/maki
  - /map/sprites/navigatum
fonts:
  - /map/fonts
styles:
  - /map/navigatum-basemap.json
mbtiles:
  paths:
    - /map/level_overlays
  sources:
    # named source matching source name to a single file
    shortbread: /data/output.mbtiles
postgres:
  connection_string: $DATABASE_URL
  auto_publish: false
  tables:
    doors:
      schema: public
      table: doors
      srid: 3857
      geometry_column: geom
      geometry_type: POINT
      properties:
        width_cm: int8
        level_min: float8
        level_max: float8
    indoor_nodes:
      schema: public
      table: indoor_nodes
      srid: 3857
      geometry_column: geom
      geometry_type: POINT
      properties:
        node_id: int8
        tags: jsonb
    indoor_polygons:
      schema: public
      table: indoor_polygons
      srid: 3857
      geometry_column: geom
      geometry_type: GEOMETRY
      properties:
        area_id: int8
        tags: jsonb
        type: text
    rooms:
      schema: public
      table: rooms
      srid: 3857
      geometry_column: geom
      geometry_type: GEOMETRY
      properties:
        indoor: text
        ref: text
        ref_tum: text
        level_min: float8
        level_max: float8
    indoor_ways:
      schema: public
      table: indoor_ways
      srid: 3857
      geometry_column: geom
      geometry_type: LINESTRING
      properties:
        tags: jsonb
        way_id: int8
  functions: {}
