SHELL=/bin/sh
PATH=/usr/sbin:/usr/bin:/sbin:/bin
MAILTO=nomailpls@example.com

{% with node_id=inventory_hostname | replace('tuzeitm-navigatum-', '') | int %}
{% set reboot_time=node_id + 3%}
# Reboot automatically on working days between {{reboot_time}}:00 and {{reboot_time}}:30 when
# a kernel update has been installed, but not booted into yet

0 {{reboot_time }} * * Mon-Fri         root    test -x /usr/sbin/lrz-automatic-reboot && /usr/sbin/lrz-automatic-reboot -D 1800
{% endwith %}
