[package]
name = "server"
version = "0.1.0"
authors = ["Markus A <ge75sig@mytum.de>"]
edition = "2018"

[[bin]]
name = "server"
path = "src/main.rs"

[profile.release]
strip = true

[dependencies]
actix-web = { version = "4", features = ["rustls"] }
awc = "3.0.0-beta.21"
cached = "0.34.0"
lazy_static = "1.4.0"
serde = { version = "1.0.127", features = ["derive"] }
serde_json = "1.0.64"
actix-cors = "0.6.0"
futures = "0.3"
rand = "0.8.4"
structopt = "0.3"
env_logger = "0.9"
