@import "src/variables.scss";

#view-search {
    padding-top: 25px;

    h1 {
        font-size: 1.2rem;
        font-weight: 500;
    }

    h2 {
        font-size: 1rem;
        font-weight: 500;
    }

    section {
        margin-top: 40px;

        .search-comment {
            &.nb_results {
                color: $text-gray;
            }
        }
    }

    .divider + section {
        margin-top: 30px;
    }

    ul.result-list {
        list-style: none;
        margin-left: 0;
        margin-top: 0;

        li {
            padding: 8px 10px 6px 10px;
            border-radius: 6px;
            box-shadow: 3px 3px 4px rgb(106 106 106 / 1%);
            border: .05rem solid $search-border;
            
            transition: border .2s;
            
            &:hover {
                box-shadow: 3px 3px 4px rgb(106 106 106 / 3%);
                border: .05rem solid $search-border-hover;
            }

            a {
                text-decoration: none;
                color: $body-font-color;
            }

            .tile-title {
                line-height: 1rem;

                i.icon-caret {
                    transform: rotate(-90deg);
                }
            }

            .tile-subtitle {
                line-height: 1rem;
            }

            em {
                font-style: normal;
                font-weight: bold;
                color: $theme-accent;
            }
        }
    }

    small {
        button { // feedback-form, ..
            font-size: 12px;
            padding: 0;
        }

        .search_meta {
            display: block;

            //color: $text-gray;

            a {
                color: $body-font-color;
            }
        }
    }
}
