apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  labels:
    app: navigatum
    deployment: api
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: navigatum
      deployment: api
  strategy:
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 0%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: navigatum
        deployment: api
    spec:
      volumes:
        - name: tmp-server
          emptyDir: {}
      containers:
        - name: server
          image: "ghcr.io/tum-dev/navigatum-server:{{ .Values.branch }}"
          imagePullPolicy: Always
          {{ if or (.Values.server.GITHUB_TOKEN) (.Values.server.MEILI_MASTER_KEY) (.Values.server.JWT_KEY) }}
          envFrom:
            - secretRef:
                name: api-keys # GITHUB_TOKEN, MEILI_MASTER_KEY, JWT_KEY
          {{ end }}
          ports:
            - containerPort: 8080
              name: api
          volumeMounts:
            - mountPath: /tmp
              name: tmp-server
          securityContext:
            readOnlyRootFilesystem: true
          resources:
            requests:
              cpu: 30m
              memory: 500Mi
            limits:
              memory: 700Mi
          livenessProbe:
            httpGet:
              path: /api/health
              port: api
            failureThreshold: 1
            periodSeconds: 1
          startupProbe:
            httpGet:
              path: /api/health
              port: api
            failureThreshold: 60
            periodSeconds: 1
        - name: mieli-search
          image: "ghcr.io/tum-dev/navigatum-mieli-search:{{ .Values.branch }}"
          imagePullPolicy: Always
          {{ if .Values.server.MEILI_MASTER_KEY }}
          envFrom:
            - secretRef:
                name: api-keys # MEILI_MASTER_KEY
          env:
            - name: MEILI_ENV
              value: production
          {{ end }}
          ports:
            - containerPort: 7700
              name: mieli-search
          resources:
            requests:
              cpu: 10m
              memory: 25Mi
            limits:
              memory: 500Mi
          livenessProbe:
            httpGet:
              path: /health
              port: mieli-search
            failureThreshold: 5
            periodSeconds: 1
          startupProbe:
            httpGet:
              path: /health
              port: mieli-search
            failureThreshold: 60
            periodSeconds: 1
{{ if or (.Values.server.GITHUB_TOKEN) (.Values.server.MEILI_MASTER_KEY) (.Values.server.JWT_KEY) }}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: api-keys
  namespace: {{ .Values.namespace }}
  labels:
    app: navigatum
    deployment: api
data:
  {{ if .Values.server.GITHUB_TOKEN }}
    GITHUB_TOKEN: {{ .Values.server.GITHUB_TOKEN }}
  {{ end }}
  {{ if .Values.server.MEILI_MASTER_KEY }}
    MEILI_MASTER_KEY: {{ .Values.server.MEILI_MASTER_KEY }}
  {{ end }}
  {{ if .Values.server.JWT_KEY }}
    JWT_KEY: {{ .Values.server.JWT_KEY }}
  {{ end }}
{{ end }}