apiVersion: apps/v1
kind: Deployment
metadata:
  name: webclient
  labels:
    app.kubernetes.io/part-of: navigatum
    app.kubernetes.io/name: web
  namespace: {{ $.Values.namespace }}
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/part-of: navigatum
      app.kubernetes.io/name: web
  strategy:
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 0%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/part-of: navigatum
        app.kubernetes.io/name: web
    spec:
      priorityClassName: {{ $.Values.url }}
      containers:
        - name: webclient
          image: "ghcr.io/tum-dev/navigatum-webclient:{{ $.Values.tag }}"
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
              name: webclient
          env:
            - name: TILESERVER_URL
              value: http://maps-svc.navigatum.svc.cluster.local:8080
            - name: CDN_URL
              value: http://cdn-svc.navigatum.svc.cluster.local:3002
            - name: MAIN_API_URL
              value: http://api-svc.navigatum.svc.cluster.local:3003
          resources:
            requests:
              cpu: 50m
              memory: 500Mi
            limits:
              memory: 500Mi
          livenessProbe:
            httpGet:
              path: /health
              port: webclient
            failureThreshold: 3
            periodSeconds: 5
          startupProbe:
            httpGet:
              path: /health
              port: webclient
            failureThreshold: 60
            periodSeconds: 1
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
              add:
                - CHOWN
                - DAC_OVERRIDE
                - SETGID
                - SETUID
