@import "@/assets/variables.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* === General === */

/* v-cloak is set until vue loaded */
[v-cloak] {
  display: none;
}

/* --- Menu general --- */

#app .menu .menu-item > a,
#app .menu .menu-item > button {
  /* Overwrite spectre */
  &:focus,
  &:hover {
    background: $theme-accent;
    color: #fff;
  }
}

#app .menu .menu-item + .menu-item {
  margin-top: 0;
}
