@use "sass:color";

/* === Shared === */
$success-color: #6cc872;
$warning-color: #f49e2f;
$error-color: #bb331b;
$theme-accent: #0065bd;  // TUM blue

/* === Light mode (default) === */
// This is not in an @if block because sass requires the variables
// to be declared outside an @if scope.
// -- Custom vars
$header-color: #fff;
$header-shadow-color: rgba(0, 0, 0, 10%);
$autocomplete-box-shadow: 0 .05rem .2rem rgba(48, 55, 66, 30%);
$autocomplete-comment-color: #777;
$autocomplete-filter-bg: #f8f8f8;
$autocomplete-filter-text: $autocomplete-comment-color;
$footer-color: #fafafa;
$footer-setting-bg-disabled: #999;
$feedback-overlay-bg: rgba(247, 248, 249, 75%);
$feedback-box-shadow: 0 .2rem .5rem rgba(48, 55, 66, 30%);
$toast-btn-bg: rgba(0, 0, 0, 13%);
$toast-btn-bg-hover: rgba(0, 0, 0, 2%);
$toast-btn-bg-active: rgba(0, 0, 0, 27%);
$card-highlighted-bg: #f7f7f7;
$text-gray: #aaa;
$border-default: #e1e1e1;
$border-light: #eee;
$card-border: $border-default;
$card-shadow: 3px 3px 4px rgba(106, 106, 106, 3%);
$card-shadow-dark: 3px 3px 4px rgba(106, 106, 106, 5%);
$image-loading-bg: #eee;
$container-loading-bg: #fbfbfb;
$roomfinder-selected-bg: #f2f2f2;
$search-border: #f0f0f0;
$search-border-hover: #dadee4;
$code-bg: #fcf2f2;

// -- Overwriting
$primary-color: $theme-accent;
$body-font-color: #3b4351;
$light-color: #fff;
$bg-color: #f7f8f9;

/* === Dark mode === */
@if $theme == "dark" {
    // -- Custom vars
    $header-color: #1b1c1e;
    $header-shadow-color: rgba(0, 0, 0, 40%);
    $autocomplete-box-shadow: 0 .05rem .2rem rgba(0, 0, 0, 60%);
    $autocomplete-comment-color: #777;
    $autocomplete-filter-bg: #232526;
    $autocomplete-filter-text: #999;
    $footer-color: #1b1c1e;
    $footer-setting-bg-disabled: #333;
    $feedback-overlay-bg: rgba(0, 0, 0, 70%);
    $feedback-box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 50%);
    $toast-btn-bg: rgba(255, 255, 255, 7%);
    $toast-btn-bg-hover: rgba(255, 255, 255, 2%);
    $toast-btn-bg-active: rgba(0, 0, 0, 7%);
    $card-highlighted-bg: #0e0e0e;
    $text-gray: #aaa;
    $border-default: #444;
    $border-light: #444;
    $card-border: $border-default;
    $card-shadow: 3px 3px 4px rgba(0, 0, 0, 20%);
    $card-shadow-dark: $card-shadow;
    $image-loading-bg: #444;
    $container-loading-bg: #2a2b2f;
    $roomfinder-selected-bg: #282c35;
    $search-border: #353535;
    $search-border-hover: #444;
    $code-bg: #201e1e;

    // -- not implemented anywhere yet
    $link-color: #59b2ff;

    // -- Overwriting
    $primary-color: #59b2ff !global;
    $primary-color-dark: color.adjust($primary-color, $lightness: 3%) !global;
    $primary-color-light: color.adjust($primary-color, $lightness: -3%) !global;
    $secondary-color: #213d55 !global;
    $secondary-color-dark: color.adjust($secondary-color, $lightness: 3%) !global;
    $secondary-color-light: color.adjust($secondary-color, $lightness: -3%) !global;
    $link-color: $primary-color !global;
    $link-color-dark: color.adjust($link-color, $lightness: 5%) !global;
    $link-color-light: color.adjust($link-color, $lightness: -5%) !global;
    $body-font-color: #d2d7df !global;
    $dark-color: #9aa0aa !global;// #3e396b;

    // Also sets body background
    $light-color: #17181a !global;

    //      #0d0e13,         #13141a (also footer), link colors: #59b2ff,
    //    .. 1px solid #e1e1e140 on border
    $border-color: $border-default !global;
    $border-color-light: #353535 !global;
    $border-color-dark: #767c84 !global;
    $bg-color: #222428 !global;
    $bg-color-dark: $bg-color !global;
}
