name: Data CI/CD

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-data
  cancel-in-progress: true

on:
  pull_request:
    branches: [ main ]
    types: [ opened, reopened, synchronize ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  data-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        python-version: [ "3.14" ]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with: {persist-credentials: false}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install -r data/requirements.txt -r requirements-dev.txt
      - run: pytest data
  #type-check:
  #  runs-on: ubuntu-latest
  #  steps:
  #    - uses: actions/checkout@v4
  #- name: Set up Python ${{ matrix.python-version }}
  #      uses: actions/setup-python@v5
  #      with:
  #        python-version: ${{ matrix.python-version }}
  #    - name: Install dependencies
  #      run: pip install -r data/requirements.txt -r requirements-dev.txt
  #    - name: Run mypy
  #      run: mypy --strict data

  # This final step is needed to mark the whole workflow as successful
  # Don't change its name - it is used by the merge protection rules
  done:
    name: Finished data CI
    runs-on: ubuntu-latest
    needs: [ data-test ]
    if: always()
    permissions: {}
    steps:
      - name: Result of the needed steps
        run: echo "${{ toJSON(needs) }}" # zizmor: ignore[template-injection]
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'skipped') }}
        name: CI Result
        run: exit 1
