name: Linting

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-linting
  cancel-in-progress: true
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  linting:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - run: rustup update stable && rustup default stable
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10.14.0
          package_json_file: webclient/package.json
          run_install: |
            - cwd: webclient
              args: [--frozen-lockfile, --strict-peer-dependencies]
            - args: [--global, openapi-format]
      - run: pnpm run type-refresh
        working-directory: webclient
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.14'
      - name: Install python dependencies
        run: pip install -r data/requirements.txt -r requirements-dev.txt
      - run: rustup component add rustfmt
      - name: Run pre-commit
        continue-on-error: ${{ github.ref == 'refs/heads/main' }}
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
      - name: Install cargo-insta
        run: cargo install cargo-insta --locked
      - name: Update server snapshots
        working-directory: server
        run: cargo insta test --accept
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: fixed formatting mistakes have sneaked into prod
          title: "chore(formatting): Fixed formatting mistakes"
          body: |
            - There has been a mishap and formatting mistakes have sneaked into prod
            - Auto-generated by [create-pull-request][1]
            PR comes from [this Workflow Run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
            
            [ 1 ]: https://github.com/peter-evans/create-pull-request
          branch: chore/formatting-fixes
          delete-branch: true
