name: Martin CI/CD

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-data
  cancel-in-progress: true

on:
  pull_request:
    branches: [ main ]
    types: [ opened, reopened, synchronize ]
  push:
    branches: [ main ]
  workflow_dispatch:

permissions: {}

jobs:
  validate-planetiler-custommap:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with: {persist-credentials: false}
      - name: Setup | Install dependencies
        run: wget https://github.com/onthegomap/planetiler/releases/latest/download/planetiler.jar
        working-directory: map/planetiler
      - name: Validate custom map
        run: java -Xmx1g -jar planetiler.jar verify shortbread_custom.spec.yml
        working-directory: map/planetiler

  validate-style:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with: {persist-credentials: false}
      - name: Setup | Install dependencies
        run: npm install @maplibre/maplibre-gl-style-spec --global
      - name: Run style validation
        run: gl-style-validate map/martin/styles/navigatum-basemap.json

  martin-build:
    uses: ./.github/workflows/_docker-build.yml
    with:
      image_suffix: martin
      context: ./map/martin
      dockerfile: Dockerfile
    permissions:
      id-token: write
      contents: read
      packages: write
      attestations: write

  # This final step is needed to mark the whole workflow as successful
  # Don't change its name - it is used by the merge protection rules
  done:
    name: Finished martin CI
    runs-on: ubuntu-latest
    needs: [ build, validate-style, validate-planetiler-custommap ]
    if: always()
    permissions: {}
    steps:
      - name: Result of the needed steps
        run: echo "${{ toJSON(needs) }}" # zizmor: ignore[template-injection]
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'skipped') }}
        name: CI Result
        run: exit 1
