name: Martin CI/CD

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-data
  cancel-in-progress: true

on:
  pull_request:
    branches: [ main ]
    types: [ opened, reopened, synchronize ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  validate-style:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install @maplibre/maplibre-gl-style-spec --global
      - name: Run style validation
        run: gl-style-validate map/martin/styles/navigatum-basemap.json

  martin-build:
    uses: ./.github/workflows/_docker-build.yml
    with:
      image_suffix: martin
      context: ./map/martin
      dockerfile: Dockerfile
    permissions:
      id-token: write
      contents: read
      packages: write
      attestations: write

  # This final step is needed to mark the whole workflow as successful
  # Don't change its name - it is used by the merge protection rules
  done:
    name: Finished martin CI
    runs-on: ubuntu-latest
    needs: [ build, lint, validate-style ]
    if: always()
    permissions: {}
    steps:
      - name: Result of the needed steps
        run: echo "${{ toJSON(needs) }}" # zizmor: ignore[template-injection]
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'skipped') }}
        name: CI Result
        run: exit 1
