name: Server CI/CD

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-server
  cancel-in-progress: true
on:
  pull_request:
    branches: [ main ]
    types: [ opened, reopened, synchronize ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  shear:
    name: Lint that no unused imports are slowing the build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with: {persist-credentials: false}
      - name: Install cargo-insta
        uses: taiki-e/install-action@90558ad1e179036f31467972b00dec6cb80701fa # v2.66.3
        with:
          tool: cargo-shear
      
      - run: cargo shear --expand
  tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - run: rustup update stable && rustup default stable
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with: {persist-credentials: false}
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          workspaces: |
            server
      - name: Setup | Setup Git to run feedback unit-tests
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
      - run: cargo test --no-run --locked
        env:
          CARGO_INCREMENTAL: 0
      - run: cargo test -- --nocapture --quiet
        env:
          CARGO_INCREMENTAL: 0
  linting:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - run: rustup update stable && rustup default stable
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with: {persist-credentials: false}
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          workspaces: |
            server
      - run: rustup component add clippy
      - run: cargo clippy
        env:
          CARGO_INCREMENTAL: 0
  server-build:
    uses: ./.github/workflows/_docker-build.yml
    needs:
      - shear
      - tests
      - linting
    with:
      image_suffix: server
      context: ./
      dockerfile: server/Dockerfile
    permissions:
      id-token: write
      contents: read
      packages: write
      attestations: write
