name: Webclient CI/CD

on:
  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  webclient-e2e-test:
    strategy:
      matrix:
        browser:
          - chrome
          - firefox
    runs-on: ubuntu-latest
    container:
      image: cypress/browsers:node16.16.0-chrome107-ff107
      options: --user 1001
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - uses: pnpm/action-setup@v2.4.0
        with:
          version: 8
          package_json_file: webclient/package.json
      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          start: npm run dev
          wait-on: "http://localhost:3000"
          browser: ${{ matrix.browser }}
          working-directory: webclient
  webclient-component-test:
    runs-on: ubuntu-latest
    container:
      image: cypress/browsers:latest
      options: --user 1001
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - uses: pnpm/action-setup@v2.4.0
        with:
          dest: webclient
          version: 8
          package_json_file: webclient/package.json
      - name: Cypress run
        run: pnpm run test:components
        working-directory: webclient
  webclient-linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          cache-dependency-path: 'webclient/package.json'
      - run: npm install --prefix webclient
      - run: npm run lint --prefix webclient
      #- run: npm run type-check --prefix webclient
  webclient-build:
    uses: ./.github/workflows/_docker-build.yml
    needs:
      - webclient-linting
      - webclient-e2e-test
      - webclient-component-test
    with:
      image_suffix: webclient
      context: ./webclient
      dockerfile: Dockerfile
    permissions:
      contents: read
      packages: write
  webclient-deployment:
    uses: ./.github/workflows/_restart-argocd.yml
    if: ${{ github.ref }} == 'refs/heads/main'
    needs:
      - webclient-build
    with:
      deployment: webclient
    secrets:
      ARGOCD_TOKEN: ${{ secrets.ARGOCD_TOKEN }}
