name: Webclient CI/CD

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-webclient
  cancel-in-progress: true
on:
  pull_request:
    branches: [ main ]
    types: [ opened, reopened, synchronize ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  webclient-linting:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with: {persist-credentials: false}
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10.14.0
          package_json_file: webclient/package.json
          run_install: |
            - cwd: webclient
              args: [--frozen-lockfile, --strict-peer-dependencies]
            - args: [--global, openapi-format]
      - run: pnpm run lint
        working-directory: webclient
      - run: pnpm run type-check
        working-directory: webclient
  webclient-build:
    uses: ./.github/workflows/_docker-build.yml
    needs:
      - webclient-linting
    with:
      image_suffix: webclient
      context: ./webclient
      dockerfile: Dockerfile
    permissions:
      id-token: write
      contents: read
      packages: write
      attestations: write
